{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br><br>
<div>
  <center>
    <!-- <img src="https://statics.olx.in/external/base/img/hero-bg-in.jpg" width="1500px" > -->
    <img src="{% static 'home_image.jpg' %}" width="1500px" height="250px">
  </center>
</div>
<br><br>

<div class="container">
  <div class="card mb-3" style="margin-top:5%; margin-left : 5%; max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{% static 'buy-and-sell3.jpg' %}" class="card-img-top" height="300px">
      </div>

      <div class="col-md-6">
        <div class="card-body">
          <br><br>
          <center>
            <h1 class="card-title">Get Started with OLXClone</h1><br>
            <a href="/buyer/buyItem/" class="btn btn-outline-primary">Buy Now</a>
            <a href="/seller/addItem/" class="btn btn-outline-secondary">Sell Now</a>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br>
<div class="container mb-10">

  <h3>Fresh Recommendations</h3><br>
  <div class="row">

    {% for x in items %}
    {% if forloop.counter < 16 %} 

    <div class="col-sm-4">
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">{{x.item_name}}</div>
          <img src="{{x.photo.url}}" class="card-img-top" height="200px">
          <div class="card-body">
            <h4 class="card-title">&#8377 {{x.price}}
              <form action="{% url 'show_item_details' x.id %}" method="post" class="d-inline" style="margin-left:30%;">
                {% csrf_token %}
                <input type="submit" value="view" class="btn btn-outline-success">
              </form>
            </h4>
          </div>
        <div class="card-footer">
          <i style="font-size:19px" class="fa mb-3">&#xf041</i>
          <b style="font-size:15px">&nbsp;&nbsp;{{x.area}},{{x.city|capfirst}}</b>
        </div>
      </div>
  </div>
  {%endif%}
  {% endfor %}
</div>
</div>
{% endblock %}
